@infominds:registry=https://pkgs.dev.azure.com/acsdatasystems/Infominds.AppDevelopment/_packaging/InfomindsNPM/npm/registry/
@fortawesome:registry=https://npm.fontawesome.com/
registry=https://registry.npmjs.com/
           
always-auth=true
